/* @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap); 
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import "tailwindcss";
@theme {
  --font-playfair: "Playfair Display", serif;
  --font-montserrat: "Montserrat", sans-serif;
} */

:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Playfair Display, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #462a00;
  text-decoration: inherit;
}
a:hover {
  color: #4a2d00;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width : 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #674100;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #733e02;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Untuk Webkit browsers (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Untuk Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;  /* IE and Edge */
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide-left {
  animation: slide-left 35s linear infinite;
}

.moving-text {
  background: linear-gradient(270deg, #ffffff, #ffe3ae, #ffffff);
  background-size: 900% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradientShift 10s ease infinite;
  
}

@keyframes gradientShift {
  0% { background-position: 50% 10%; }
  50% { background-position: 0% 20%; }
  100% { background-position: 80% 20%; }
}

/* Carousel flip effect helpers */
.perspective {
  perspective: 1000px;
}

.backface-hidden {
  backface-visibility: hidden;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

/* Swiper Custom Styles */
.swiper-button-next,
.swiper-button-prev {
  color: #7a422c; /* Warna panah, sesuaikan dengan tema kamu */
  scale: 0.9; /* Bisa disesuaikan jika ingin lebih kecil */
}
.swiper-button-prev {
  left: 5px; /* atur jarak dari kiri */
}

.swiper-button-next {
  right: 5px; /* atur jarak dari kanan */
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #b07252; /* Warna saat hover */
}
.swiper-pagination-bullet {
  background: #d4b3a3; /* Warna default bullet */
  opacity: 1;
}
.swiper-pagination{
  bottom: 10px; /* Atur posisi bullet */
}

.swiper-pagination-bullet-active {
  background: #7a422c; /* Warna bullet aktif */
}
